.amarillo{
	background-color: yellow;
}
.rojo{
	background-color: red;
}
div{
	height: 140%;
	width: 20%;
	font-size: 120%;
	margin-top: 1%
}
.pdt5{
	padding-left: 1%;
}
.pdt5{
	padding-top: 2%;
}
.may{
	text-transform: uppercase;
}